  #validation-input {
    border: 3px solid #bdbdbd;
  }

  #validation-input.valid {
    border-color: #4caf50;
  }

  #validation-input.invalid {
    border-color: #f44336;
  }

  #pictures {
    width: 20px;
    height: 30px;
    display: block;
    padding: 25px;
}